{% extends "templates/web.html" %}

{% from "kis/templates/includes/macros.html" import render_homepage_section %}

{% block content %}
<main>
	{% if homepage.hero_section_based_on == 'Default' %}
	<section class="hero-section border-bottom {%if homepage.hero_image%}hero-image{%endif%}">
		<div class="container py-5">
			<h1 class="d-none d-sm-block display-4">{{ homepage.tag_line }}</h1>
			<h1 class="d-block d-sm-none">{{ homepage.tag_line }}</h1>
			<h2 class="d-none d-sm-block">{{ homepage.description }}</h2>
			<h3 class="d-block d-sm-none">{{ homepage.description }}</h3>
		</div>


	</section>
	{% elif homepage.hero_section_based_on == 'Slideshow' and slideshow %}
	<section class="hero-section">
		{% include "templates/includes/slideshow.html" %}
	</section>
	{% elif homepage.hero_section_based_on == 'Homepage Section' %}
		{{ render_homepage_section(homepage.hero_section_doc) }}
	{% endif %}




</main>
{% endblock %}